@use '@angular/material' as mat;

@include mat.core();

$frontend-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$frontend-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$frontend-warn: mat.m2-define-palette(mat.$m2-red-palette);
$frontend-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $frontend-primary,
      accent: $frontend-accent,
      warn: $frontend-warn,
    ),
  )
);

@include mat.all-component-themes($frontend-theme);

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.app-root {
  min-height: 100%;
}
